*{margin:0; padding:0; box-sizing:border-box;}
html, body{font-family: 'Outfit', sans-serif; background:#242550; color:#cacbdb; font-size:1em;}
textarea, input{font-family: 'Outfit', sans-serif;}
.vdEditorPage{ display: flex; flex-direction: column; height: 100vh; font-size:0.875rem; } 
 .vdEditorPageTabs{ display: flex; border-bottom: 1px solid #504e7b;}
.vdEditorPageSaearchBtn {display: flex;gap: 10px;height: 36px;align-items: center;padding: 0 15px;}
.vdEditorPageSaearch { width: 320px; } 
.vdEditorPageTabsWrapper { display: flex; flex: 1; }
.vdEditorPageTab { display: flex; align-items: center; gap: 10px; padding: 0 0 0 10px; position:relative;}
.vdEditorPageTab.active { color: #fff; }
.vdEditorPageTab.active:after { content: ''; position: absolute; height: 2px; left: 0; right: 0; background: #7fa9ff; bottom: 0; }
.vdEditorPageTabBtn{width: 30px; height: 36px; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.vdEditorPageCols{ flex: 1; display: flex;}
.vdEditorFoldersCol { width: 320px; padding: 25px; position: relative; } 
.vdEditorFolderItem { display: flex; align-items: center; gap: 10px; cursor:pointer; } 
.vdEditorFolderText { flex: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } 
.vdEditorFolderItem + .vdEditorFolderItemWrap { padding-left: 28px; }
.vdEditorFolderItem.active { color: #fff; }
.vdEditorFolderItem.active path { fill: #7fa9ff; }
.vdEditorFolderOptions { width: 34px; height: 34px; display: flex; align-items: center; justify-content: center; position: relative; opacity:0; pointer-events:none; }
.vdEditorFolderItem:hover .vdEditorFolderOptions {opacity:1; pointer-events:all; }
.vdEditorFolderOptionDropdown {display:none; position: absolute; background: #fff; color: #242550; padding: 15px; border-radius: 7px; right: 0; top: 100%; min-width: 150px; flex-direction:column;}
.vdEditorFolderOptionDropdownItem { height: 34px; display: flex; align-items: center; }
.vdEditorFolderOptions:hover .vdEditorFolderOptionDropdown{display:flex;}
.vdEditorCol { flex: 1; background: #2c2e5f; position:relative;} 
.vdEditorCol .vdEditor, .vdEditorCol .ace_editor{position: absolute; left: 0; right: 0; top: 25px; bottom: 0;}
.ace-monokai { background-color: #2c2e5f; color: #fff; font-size: 0.84rem; font-family: poppins; } 
.ace-monokai .ace_gutter { background: transparent; color: #8381af; } 
.ace-monokai .ace_print-margin { width: 1px; background: #5e5b89; } 
.ace-monokai .ace_marker-layer .ace_active-line { background: #504e7b; } 
.ace-monokai .ace_gutter-active-line { background-color: #504e7b; }
.vdEditorChatCol { width: 400px; position: relative; border-left: 1px solid #504e7b;}

:root {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #dcdcdc;
  --outgoing-chat-bg: #242550;
  --incoming-chat-bg: #2c2e5f;
  --outgoing-chat-border: #5e5b89;
  --incoming-chat-border: #5e5b89;
}
.light-mode {
  --text-color: #343541;
  --icon-color: #a9a9bc;
  --icon-hover-bg: #f1f1f3;
  --placeholder-color: #6c6c6c;
  --outgoing-chat-bg: #FFFFFF;
  --incoming-chat-bg: #F7F7F8;
  --outgoing-chat-border: #FFFFFF;
  --incoming-chat-border: #D9D9E3;
}
.chat-container {
    overflow-y: auto; height: calc(100vh - 37px); padding-bottom: 150px;
}
:where(.chat-container, textarea)::-webkit-scrollbar {
  width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track {
  background: var(--incoming-chat-bg);
  border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
  background: var(--icon-color);
  border-radius: 25px;
}
.default-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 0 10px;
  text-align: center;
  color: var(--text-color);
}
.default-text h1 {
  font-size: 1.45rem;
  font-weight:600;
}
.default-text p {
  margin-top: 10px;
  font-size:1rem;
  color: #5e5b89;
}
.chat-container .chat {
  padding: 25px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}
.chat-container .chat.outgoing {
  background: var(--outgoing-chat-bg);
}
.chat-container .chat.incoming {
  background: var(--incoming-chat-bg);
}
.chat .chat-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
span.material-symbols-rounded {
  user-select: none;
  cursor: pointer;
}
.chat .chat-content span {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--icon-color);
  visibility: hidden;
}
.chat:hover .chat-content:not(:has(.typing-animation), :has(.error)) span {
  visibility: visible;
}
.chat .chat-details {
  display: flex;
  align-items: center;
}
.chat .chat-details img {
  width: 35px;
  height: 35px;
  align-self: flex-start;
  object-fit: cover;
  border-radius: 2px;
}
.chat .chat-details p {
  white-space: pre-wrap;
  padding: 0 50px 0 25px;
  color: var(--text-color);
  word-break: break-word;
}
.chat .chat-details p.error {
  color: #e55865;
}
.chat .typing-animation {
  padding-left: 25px;
  display: inline-flex;
}
.typing-animation .typing-dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 0 3px;
  opacity: 0.7;
  background: var(--text-color);
  animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}
.typing-animation .typing-dot:first-child {
  margin-left: 0;
}
@keyframes animateDots {
  0%,44% {
    transform: translateY(0px);
  }
  28% {
    opacity: 0.4;
    transform: translateY(-6px);
  }
  44% {
    opacity: 0.2;
  }
}
/* Typing container styling */
.typing-container {
  position: absolute;
  bottom: 0;
  left:0; right:0;
  display: flex;
  padding: 25px;
  justify-content: center;
  background: var(--outgoing-chat-bg);
  border-top: 1px solid var(--incoming-chat-border);
}
.typing-container .typing-content {
  display: flex;
  max-width: 950px;
  width: 100%;
  align-items: flex-end;
}
.typing-container .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
}
.typing-textarea textarea {
  resize: none;
  height: 100px;
  width: 100%;
  border: none;
  padding: 15px 15px 45px 15px;
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 10px;
  overflow-y: auto;
  background: var(--incoming-chat-bg);
  outline: 1px solid var(--incoming-chat-border);
}
.typing-textarea textarea::placeholder {
  color: var(--placeholder-color);
}
.typing-textarea span {
  position: absolute;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.typing-textarea textarea:valid ~ span {
  visibility: visible;
}
.typing-controls { position: absolute; bottom: 36px; right: 87px; cursor: pointer; font-size: 0.84rem;}
span#send-btn { width: 36px; height: 36px; display: flex; align-items: center; justify-content: center; background: #7fa9ff; border-radius: 0 0 10px 0; }
/* Reponsive Media Query */
@media screen and (max-width: 600px) {
  .default-text h1 {
    font-size: 2.3rem;
  }
  :where(.default-text p, textarea, .chat p) {
    font-size: 0.95rem!important;
  }
  .chat-container .chat {
    padding: 20px 10px;
  }
  .chat-container .chat img {
    height: 32px;
    width: 32px;
  }
  .chat-container .chat p {
    padding: 0 20px;
  }
  .chat .chat-content:not(:has(.typing-animation), :has(.error)) span {
    visibility: visible;
  }
  .typing-container {
    padding: 15px 10px;
  }
  .typing-textarea textarea {
    height: 45px;
    padding: 10px 40px 10px 10px;
  }
  span.material-symbols-rounded {
    font-size: 1.25rem!important;
  }
}